/*© Christian Altiche, 2025*/ 

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth; /*This allows the scroll smoother. */
}

/* Custom Fonts Classes*/
.ff-rowdies {
  font-family: "Rowdies", sans-serif;
}

.ff-poppins {
  font-family: "Poppins", sans-serif;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fcbad5;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e779a7;
}