/*© Christian Altiche, 2025*/ 

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* Custom Fonts Classes*/
.ff-rowdies {
  font-family: "Rowdies", sans-serif;
}

.ff-open-sans {
  font-family: "Open Sans", sans-serif;
}

